@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility caption-small {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

@utility caption-medium {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

@utility caption-large {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* app */

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" 0, "calt" 0;
  -webkit-font-feature-settings: "liga" 0, "calt" 0;
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none !important;
}

/* For Firefox */
* {
  scrollbar-width: none !important;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none !important;
}

.window.scrollout,
.scrollout img {
  top: 0 !important;
}

.window.scrollin,
.scrollin img {
  bottom: 0 !important;
}

.scrollout.filter {
  opacity: 0;
  mask: linear-gradient(to bottom, black 0%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, black 0%, transparent 100%);
}

.scrollin.filter {
  opacity: 1;
  mask: linear-gradient(to top, black 0%, transparent 100%);
  -webkit-mask: linear-gradient(to top, black 0%, transparent 100%);
}

:root {
  --gradient-1: transparent 0%, white 12.5%;
  --gradient-2: transparent 12.5%, white 25%;
  --gradient-3: transparent 25%, white 37.5%;
  --gradient-4: transparent 37.5%, white 50%;
  --gradient-5: transparent 50%, white 62.5%;
  --gradient-6: transparent 62.5%, white 75%;
  --gradient-7: transparent 75%, white 87.5%;
  --gradient-8: transparent 87.5%, white 100%;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(1px) !important;
  /* -webkit-backdrop-filter: blur(1px); */
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(2px) !important;
  /* -webkit-backdrop-filter: blur(2px); */
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(4px) !important;
  /* -webkit-backdrop-filter: blur(4px); */
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(8px) !important;
  /* -webkit-backdrop-filter: blur(8px); */
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(16px) !important;
  /* -webkit-backdrop-filter: blur(16px); */
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(32px) !important;
  /* -webkit-backdrop-filter: blur(32px); */
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(64px) !important;
  /* -webkit-backdrop-filter: blur(64px); */
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(128px) !important;
  /* -webkit-backdrop-filter: blur(128px); */
}

.bottom.gradient-blur::before {
  mask: linear-gradient(to bottom, var(--gradient-1));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-1));
}
.bottom.gradient-blur > div:nth-of-type(1) {
  mask: linear-gradient(to bottom, var(--gradient-2));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-2));
}
.bottom.gradient-blur > div:nth-of-type(2) {
  mask: linear-gradient(to bottom, var(--gradient-3));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-3));
}
.bottom.gradient-blur > div:nth-of-type(3) {
  mask: linear-gradient(to bottom, var(--gradient-4));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-4));
}
.bottom.gradient-blur > div:nth-of-type(4) {
  mask: linear-gradient(to bottom, var(--gradient-5));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-5));
}
.bottom.gradient-blur > div:nth-of-type(5) {
  mask: linear-gradient(to bottom, var(--gradient-6));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-6));
}
.bottom.gradient-blur > div:nth-of-type(6) {
  mask: linear-gradient(to bottom, var(--gradient-7));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-7));
}
.bottom.gradient-blur::after {
  mask: linear-gradient(to bottom, var(--gradient-8));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-8));
}

.top.gradient-blur::before {
  mask: linear-gradient(to top, var(--gradient-1));
  -webkit-mask: linear-gradient(to top, var(--gradient-1));
}
.top.gradient-blur > div:nth-of-type(1) {
  mask: linear-gradient(to top, var(--gradient-2));
  -webkit-mask: linear-gradient(to top, var(--gradient-2));
}
.top.gradient-blur > div:nth-of-type(2) {
  mask: linear-gradient(to top, var(--gradient-3));
  -webkit-mask: linear-gradient(to top, var(--gradient-3));
}
.top.gradient-blur > div:nth-of-type(3) {
  mask: linear-gradient(to top, var(--gradient-4));
  -webkit-mask: linear-gradient(to top, var(--gradient-4));
}
.top.gradient-blur > div:nth-of-type(4) {
  mask: linear-gradient(to top, var(--gradient-5));
  -webkit-mask: linear-gradient(to top, var(--gradient-5));
}
.top.gradient-blur > div:nth-of-type(5) {
  mask: linear-gradient(to top, var(--gradient-6));
  -webkit-mask: linear-gradient(to top, var(--gradient-6));
}
.top.gradient-blur > div:nth-of-type(6) {
  mask: linear-gradient(to top, var(--gradient-7));
  -webkit-mask: linear-gradient(to top, var(--gradient-7));
}
.top.gradient-blur::after {
  mask: linear-gradient(to top, var(--gradient-8));
  -webkit-mask: linear-gradient(to top, var(--gradient-8));
}

/* nav */

.lines path,
.numbers path {
  opacity: 0;
}

.lines path {
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(2.5);
  transition: opacity 0.1s ease-in-out, transform 0.6s ease-out;
}

.numbers path {
  transition: opacity 0.3s ease-in-out;
}

.blinker {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.window input {
  border: none;
  outline: none;
  background: transparent;
}

input {
  border: none;
  outline: none;
  background: transparent;
  caret-color: transparent; /* hide native caret if you use a custom .blinker element */
}
