@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #4ade80;
  --surface: #2e2c2a;
  --screen: #1e2527;
  --shade-1000: #00030a;
  --shade-950: #0a0e15;
  --shade-900: #181b22;
  --shade-850: #252931;
  --shade-800: #323740;
  --shade-750: #3f4450;
  --shade-700: #4b525f;
  --shade-650: #58606f;
  --shade-600: #656d7f;
  --shade-550: #717b8e;
  --shade-500: #7e889e;
  --shade-450: #8b96ad;
  --shade-400: #98a4bd;
  --shade-350: #a4b1cc;
  --shade-300: #b1bfdb;
  --shade-250: #beccea;
  --shade-200: #cbdaf9;
  --shade-150: #d8e5ff;
  --shade-100: #e6eeff;
  --shade-50: #f3f7ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility heading-large {
  font-family: var(--font-twklausanne, "TWKLausanne", system-ui, sans-serif);
  font-size: 24px;
  font-weight: 900;
  line-height: 0.76;
  font-style: italic;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 96px;
    font-weight: 900;
    line-height: 0.76;
    font-style: italic;
    letter-spacing: 0em;
  }
}

@utility heading-small {
  font-family: var(--font-twklausanne, "TWKLausanne", system-ui, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

@utility paragraph {
  font-family: var(--font-twklausanne, "TWKLausanne", system-ui, sans-serif);
  font-size: 14px;
  font-weight: 250;
  line-height: 1.3;
  letter-spacing: 0.025em;

  @media (min-width: 768px) {
    font-size: 14px;
    font-weight: 250;
    line-height: 1.3;
    letter-spacing: 0.025em;
  }
}

@utility caption-small {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

@utility caption-medium {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

@utility caption-large {
  font-family: var(--font-chivo, "Chivo", system-ui, sans-serif);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0em;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0em;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* app */

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" 0, "calt" 0;
  -webkit-font-feature-settings: "liga" 0, "calt" 0;
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none !important;
}

/* For Firefox */
* {
  scrollbar-width: none !important;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none !important;
}

.window.scrollout,
.scrollout .stick {
  top: 0 !important;
}

.window.scrollin,
.scrollin .stick {
  bottom: 0 !important;
}

.scrollout.filter {
  opacity: 0;
  mask: linear-gradient(to bottom, black 0%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, black 0%, transparent 100%);
}

.scrollin.filter {
  opacity: 1;
  mask: linear-gradient(to top, black 0%, transparent 100%);
  -webkit-mask: linear-gradient(to top, black 0%, transparent 100%);
}

:root {
  --gradient-1: transparent 30%, white 38.75%;
  --gradient-2: transparent 38.75%, white 47.5%;
  --gradient-3: transparent 47.5%, white 56.25%;
  --gradient-4: transparent 56.25%, white 65%;
  --gradient-5: transparent 65%, white 73.75%;
  --gradient-6: transparent 73.75%, white 82.5%;
  --gradient-7: transparent 82.5%, white 91.25%;
  --gradient-8: transparent 91.25%, white 100%;
}

.gradient-blur > div {
  position: absolute;
  inset: 0;
  /* display: none; */
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 1;
  backdrop-filter: blur(1px) !important;
  -webkit-backdrop-filter: blur(1px);
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 2;
  backdrop-filter: blur(2px) !important;
  -webkit-backdrop-filter: blur(2px);
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 3;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px);
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 4;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px);
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 5;
  backdrop-filter: blur(16px) !important;
  -webkit-backdrop-filter: blur(16px);
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 6;
  backdrop-filter: blur(32px) !important;
  -webkit-backdrop-filter: blur(32px);
}
.gradient-blur > div:nth-of-type(7) {
  z-index: 7;
  backdrop-filter: blur(64px) !important;
  -webkit-backdrop-filter: blur(64px);
}
.gradient-blur > div:nth-of-type(8) {
  z-index: 8;
  backdrop-filter: blur(128px) !important;
  -webkit-backdrop-filter: blur(128px);
}

.bottom.gradient-blur > div:nth-of-type(1) {
  mask: linear-gradient(to bottom, var(--gradient-1));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-1));
}
.bottom.gradient-blur > div:nth-of-type(2) {
  mask: linear-gradient(to bottom, var(--gradient-2));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-2));
}
.bottom.gradient-blur > div:nth-of-type(3) {
  mask: linear-gradient(to bottom, var(--gradient-3));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-3));
}
.bottom.gradient-blur > div:nth-of-type(4) {
  mask: linear-gradient(to bottom, var(--gradient-4));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-4));
}
.bottom.gradient-blur > div:nth-of-type(5) {
  mask: linear-gradient(to bottom, var(--gradient-5));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-5));
}
.bottom.gradient-blur > div:nth-of-type(6) {
  mask: linear-gradient(to bottom, var(--gradient-6));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-6));
}
.bottom.gradient-blur > div:nth-of-type(7) {
  mask: linear-gradient(to bottom, var(--gradient-7));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-7));
}
.bottom.gradient-blur > div:nth-of-type(8) {
  mask: linear-gradient(to bottom, var(--gradient-8));
  -webkit-mask: linear-gradient(to bottom, var(--gradient-8));
}

.top.gradient-blur > div:nth-of-type(1) {
  mask: linear-gradient(to top, var(--gradient-1));
  -webkit-mask: linear-gradient(to top, var(--gradient-1));
}
.top.gradient-blur > div:nth-of-type(2) {
  mask: linear-gradient(to top, var(--gradient-2));
  -webkit-mask: linear-gradient(to top, var(--gradient-2));
}
.top.gradient-blur > div:nth-of-type(3) {
  mask: linear-gradient(to top, var(--gradient-3));
  -webkit-mask: linear-gradient(to top, var(--gradient-3));
}
.top.gradient-blur > div:nth-of-type(4) {
  mask: linear-gradient(to top, var(--gradient-4));
  -webkit-mask: linear-gradient(to top, var(--gradient-4));
}
.top.gradient-blur > div:nth-of-type(5) {
  mask: linear-gradient(to top, var(--gradient-5));
  -webkit-mask: linear-gradient(to top, var(--gradient-5));
}
.top.gradient-blur > div:nth-of-type(6) {
  mask: linear-gradient(to top, var(--gradient-6));
  -webkit-mask: linear-gradient(to top, var(--gradient-6));
}
.top.gradient-blur > div:nth-of-type(7) {
  mask: linear-gradient(to top, var(--gradient-7));
  -webkit-mask: linear-gradient(to top, var(--gradient-7));
}
.top.gradient-blur > div:nth-of-type(8) {
  mask: linear-gradient(to top, var(--gradient-8));
  -webkit-mask: linear-gradient(to top, var(--gradient-8));
}

/* computer */

.computer .gradient-blur > div:nth-of-type(1) {
  mask: radial-gradient(ellipse, var(--gradient-1));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-1));
}
.computer .gradient-blur > div:nth-of-type(2) {
  mask: radial-gradient(ellipse, var(--gradient-2));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-2));
}
.computer .gradient-blur > div:nth-of-type(3) {
  mask: radial-gradient(ellipse, var(--gradient-3));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-3));
}
.computer .gradient-blur > div:nth-of-type(4) {
  mask: radial-gradient(ellipse, var(--gradient-4));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-4));
}
.computer .gradient-blur > div:nth-of-type(5) {
  mask: radial-gradient(ellipse, var(--gradient-5));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-5));
}
.computer .gradient-blur > div:nth-of-type(6) {
  mask: radial-gradient(ellipse, var(--gradient-6));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-6));
}
.computer .gradient-blur > div:nth-of-type(7) {
  mask: radial-gradient(ellipse, var(--gradient-7));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-7));
}
.computer .gradient-blur > div:nth-of-type(8) {
  mask: radial-gradient(ellipse, var(--gradient-8));
  -webkit-mask: radial-gradient(ellipse, var(--gradient-8));
}

/* nav */

.lines path,
.numbers path {
  opacity: 0;
}

.lines path {
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(2.5);
  transition: opacity 0.1s ease-in-out, transform 0.6s ease-out;
}

.numbers path {
  transition: opacity 0.3s ease-in-out;
}

.blinker {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Performance optimizations for smooth scrolling */
.window {
  will-change: height, transform, filter;
  transform: translateZ(0); /* Force hardware acceleration */
  backface-visibility: hidden;
}

.filter {
  will-change: opacity, filter;
  transform: translateZ(0);
}

.window img {
  will-change: filter, brightness;
  transform: translateZ(0);
}

.bg-shade {
  will-change: opacity;
  transform: translateZ(0);
}

.window input {
  border: none;
  outline: none;
  background: transparent;
}

input {
  border: none;
  outline: none;
  background: transparent;
  caret-color: transparent; /* hide native caret if you use a custom .blinker element */
}

.toronto svg * {
  stroke-width: 1.5px;
  stroke: var(--shade-300);
}

.computer *,
.stick svg *,
.keyboard *,
.socials svg * {
  vector-effect: non-scaling-stroke;
}
